// Custom Variables
//Breakpoints =============================
$break-xsmall: 320px;
$break-small: 640px;
$break-medium: 960px;
$break-large: 1200px;
$break-xlarge: 1600px;

//Colours =============================
$red: #ff2916;
$blue: #08f;
$green: #1aff20;
$purple: #a400ff;
$light-grey: #7f8897;
$teal: #00ffb8;
$pink: #ff1cf2;
$orange: #ff9310;

$white: #fbfffd;
$black: #000000;
$grey: #5d5d5d;
$light-black: rgb(34, 34, 34);
// neon colors
$neon-border: $blue;
$neon-off: $grey;
$neon-on: $white;
// menu panel
$menu-panel: $light-black;
//menu colors
$menu-button-default: $white;
$menu-button-1: $blue;
$menu-button-2: $red;
$menu-button-3: $green;
$menu-button-4: $pink;

$colour-border: #cccccc;
$colour-border-hover: #999999;
$colour-border-shadow: rgba(0, 0, 0, .2);
$colour-border-light: #dedede;
$colour-card-border: #eeeeee;
$colour-transparent: transparent;

$colour-menu-shadow: rgba(0, 0, 0, .1);


